html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #fa6e59;
  height: 100vh;
}

h1 {
  color: white;
  padding-bottom: .3em;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  line-height: 1.5em;
}

.fa-laptop {
  font-size: 1.3em;
  margin-left: 14px;
}

.fa-flask {
  font-size: 1.1em;
  margin-left: 14px;
}

.container {
  flex: 1 0 auto;
  align-items: left;
  width: 60%;
  margin: auto;
  padding: 2em;
  border-radius: 10px;
}

.box-content {
  flex-direction: row;
}

#quote {
  font-family: 'Inconsolata', monospace;
  margin-bottom: .8em;
  font-size: 3em;
  color: white;
}

#author {
  font-family: 'Courgette', cursive;
  font-size: 1.8em;
  color: white;
  margin-bottom: 1.2em;
}

button {
  background: #4897d8;
  /*background: rgba(255,255,255,0.7);*/
  padding: .8em;
  margin-bottom: .3em;
  margin-right: .5em;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}

button:hover {
  background-image:none;
  background-color: #ffdb5c;
  color: white;
}

footer {
  flex-shrink: 0;
  background-color: white;
  text-align: center;
  color: tomato;
  font-family: 'Inconsolata', monospace;
}
