html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: url(https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.container {
  flex: 1 0 auto;
  align-items: left;
  width: 60%;
  margin: auto;
  padding: 2em;
  border-radius: 10px;
}

.box-content {
  background: rgba(34, 89, 78, 0.2);
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 2px solid rgba(34, 89, 78, 0.05);
}

#quote {
  font-family: 'Signika', sans-serif;
  margin-bottom: .8em;
  font-size: 2.8em;
  color: white;
}

#author {
  font-family: 'Inconsolata', monospace;
  font-size: 1.8em;
  color: white;
}

button {
  background: white;
  /*background: rgba(255,255,255,0.7);*/
  padding: .8em;
  margin-bottom: .3em;
  margin-right: .5em;
  border-radius: 10px;
  border: none;
  color: tomato;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

button:hover {
  background-image:none;
  background-color: #4897d8;
  color: white;
}

footer {
  flex-shrink: 0;
  background-color: white;
  text-align: center;
  color: tomato;
  font-family: 'Inconsolata', monospace;
}
